body {
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
  background-color: #e6f2ff;
    color: #333333;
}

.headline{
    font-weight: bolder;
}

.header{
    margin-left: 100px;
    position: center;
}